In [18]:
import pandas as pd
import numpy as np

<b>Scraping wikipedia to get the necessary data</b>

In [34]:
df_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]
df_data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

<b>Filter data where Borough is not assigned</b>

In [35]:
df_data.rename(columns = {'Postcode':'PostalCode'},inplace=True)
df_data = df_data[df_data.Borough!='Not assigned']
df_data.head()

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

<b>Combine neighborhoods with same postal code</b>

In [37]:
df_data = df_data.groupby(['PostalCode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_data.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

<b>Neighbourhood will be same as borrow if neighbourhood is unassigned</b>

In [39]:
df_data.loc[df_data['Neighbourhood']=='Not assigned','Neighbourhood'] = df_data.loc[df_data['Neighbourhood']=='Not assigned']['Borough']
df_data.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae